.DS_Store
env
venv
.venv
work
.cache
*.swp
*.swo
*.pyc
*.npy
*.zip
*.tar.gz
*.tar
*.gz
*.model
*.jsonl
*.coverage*
*.tsv
*.csv
*.xlsx
*.bundle.js
id_rsa
spark/lib
*.bundle.js
mprofile_*
*.pkl
*.dill
*.xslx
magellan/package-lock.json
utils/package-lock.json
gather_links/package-lock.json
download_pages/package-lock.json

.coverage
cover
htmlcov

docker/*/bin/*
docker/*/env

# IDE
.vscode/
.idea/